<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

  <servlet>
    <servlet-name>oauthCallback</servlet-name>
    <servlet-class>com.google.api.client.sample.buzz.appengine.oauth.AppEngineFlowOAuthCallback</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>oauthCallback</servlet-name>
    <url-pattern>/oauthcallback/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>app</servlet-name>
    <servlet-class>com.google.api.client.sample.buzz.appengine.oauth.SampleApp</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>app</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>denied</servlet-name>
    <servlet-class>com.google.api.client.sample.buzz.appengine.oauth.DeniedAuth</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>denied</servlet-name>
    <url-pattern>/denied</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>any</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>

</web-app>
